body {
    margin: 0;
    margin-top: 50px;
    font-family: Montserrat, sans-serif;
    margin-top: 50px;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: #ffffff;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
  background: black;
  height: 100vh;
  width: 100vw;
}

span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 400%);
  display: block;
  color: #e5e5e5;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
  white-space: nowrap;
  font-weight: bold; 
}

span::before {
  content: "Tyler Soiferman: CS Major @ Stevens Institute of Technology";
  display: block;
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0,
    transparent 2px,
    black 2px,
    black 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0;
  z-index: -1;
  transition: 1s;
}

span::after {
  content: "Tyler Soiferman: CS Major @ Stevens Institute of Technology";
  display: block;
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    135deg,
    transparent 0,
    transparent 2px,
    white 2px,
    white 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0px;
  transition: 1s;
}

span:hover:before {
  top: 10px;
  left: 10px;
}

span:hover:after {
  top: -10px;
  left: -10px;
} 


header * {
    display: inline;
    height: 100px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 30px;
}

section {
    height: 100vh;
    border: 1.5px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

#home .profile-img {
    width: 275px;
    border-radius: 100%;
}

footer {
    text-align: center;
    padding: 50px;
}

#home h1 {
    font-size: 3em;
}

section h2 {
    font-size: 2.5em;
}

section h3 {
    font-size: 1.5em;
}

header a {
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}

header a:hover {
  background-color: #ddd;
  color: black;
}

#home {
    background-image: linear-gradient(rgba(200,200,200,0.45),rgba(200,200,200,0.45)), url("img/IMG_2704.jpg");
}

#about {
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-image: linear-gradient(rgba(215,215,215,0.8),rgba(215,215,215,0.8)), url("img/IMG_2574.jpg");
}

#about a:link {
  font-weight: bold;
  color: white;
  white-space: nowrap;
  margin-left: 0px;
}

#about a:visited {
  color: white;
}

#about a:hover {
  color: gray;
}


#about a:active {
  color: white;
}

#about p {
  font-size: 1.5em;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,900,400italic,700italic,900italic);

*,
:before,
:after {
    box-sizing: border-box;
}

body {
    background-color: #fdf9fd;
    color: #011a32;
    font: 16px/1.25 'Raleway', Montserrat;
    text-align: center;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 80em;
}

#container {
    display: flex;
    flex-direction: column;
    float: center;
    justify-content: center;
    min-height: 20vh;
    padding: 1em;
    width: 100%;
}

#about h2 {
    animation: text-shadow 1.5s ease-in-out infinite;
    font-size: 3em;
    font-weight: 900;
    line-height: 1;
}

#about h2 {
    color: #ffffff;
}

#about h2:hover {
    text-decoration: none;
}

@keyframes text-shadow {
    0% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #D3D3D3, 
            0 0 0 #D3D3D3, 
            0 0 0 #D3D3D3, 
            0 0 0 #D3D3D3;
    }

    20% {  
        transform: translateY(-1em);
        text-shadow: 
            0 0.125em 0 #0c2ffb, 
            0 0.25em 0 #2cfcfd, 
            0 -0.125em 0 #fb203b, 
            0 -0.25em 0 #fefc4b;
    }

    40% {  
        transform: translateY(0.5em);
        text-shadow: 
            0 -0.0625em 0 #0c2ffb, 
            0 -0.125em 0 #2cfcfd, 
            0 0.0625em 0 #fb203b, 
            0 0.125em 0 #fefc4b;
    }
    
   60% {
        transform: translateY(-0.25em);
        text-shadow: 
            0 0.03125em 0 #0c2ffb, 
            0 0.0625em 0 #2cfcfd, 
            0 -0.03125em 0 #fb203b, 
            0 -0.0625em 0 #fefc4b;
    }

    80% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
}

#connect {
    color: black;
    background-image: linear-gradient(rgba(155,155,155,0.40),rgba(155,155,155,0.40)), url("img/City View (2).jpg");
}

#connect ul {
    margin-left: -60px;
    display: block;
}

.title {
  position: relative;
  color: #262626;
  padding: 20px 50px;
  font-size: 4em;
}
 
.title:before {
  background: #555555;
  white-space: nowrap;
  color: white;
  content: 'Connect';
  overflow: hidden;
  position: absolute;  
  top: 0;  
  left: 0;
  padding: 20px 50px;
    -webkit-clip-path: polygon(0% 0% , 30% 0%, 30% 100%, 0% 100%);  
  clip-path: polygon(0% 0% , 30% 0%, 30% 100%, 0% 100%);
  animation: slide 4s 1s linear infinite; 
} 
           
@keyframes slide {      
  50% {     
    -webkit-clip-path: polygon(70% 0%, 100% 0%, 100% 100%, 70% 100%); 
  } 
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 992px) {  
    .body {
        text-align: center;
        margin: auto;
        padding-top: 15%;
    }

    .header {
        text-align: center;
        margin-top: 5%;
        margin-right: 13.3%;
    }
    
    .section {
        text-align: center;
    }


}





