header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}

h1 {
   font-family: Montserrat, sans-serif; 
   text-align: center;
}

h2 {
   font-family: Montserrat, sans-serif; 
   text-align: center;
}

header * {
    display: inline;
    height: 100px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 30px;
}


header a {
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}

header a:hover {
  background-color: #ddd;
  color: black;
}

div {
  border-radius: 50px;
}


#title {
  margin-left: 3%;
  font-family: Montserrat, sans-serif;
}


.left {
  height: 1000px;
  width: 45px;
  background-color: #e0eeee;
  float: left;
  position: fixed;
}

.right {
  height: 1000px;
  width: 45px;
  background-color: #eeeeee;
  float: right;
  position: inherit;
}

body {
    height: 100px;
    margin-left: 330px;
    margin-right: auto;
}

iframe {
    align: middle;
}

p,
li {
  font-family: Montserrat, sans-serif;
}

.head {
  font-size: 20px;
}

#name {
  font-family: Montserrat, sans-serif;
  float: right;
  margin-top: 10px;
  margin-right: 4%;
}

.skill-set li:hover
{
	background:#3498db;
}

.skill-set li
{
	background:rgba(0,0,0,.75);
	border-radius:5px;
	color:#FFF;
	display:inline-block;
	list-style:none;
	margin:15px 15px 0 0;
	padding:10px;
	text-align:justify;
}

a {
  color: black;
  text-decoration: none;
}

@media only screen and (max-width: 430px) {
  .left,
  .right {
    display: none;
  }
  .stuff {
    width: 100%;
    margin-left: 10px;
  }
}

